<!-- <div class="dv_ct_body"> -->

<div class="dv_section">

    <div class="uncolor">
        <img src="./assets/images/profile.jpg" alt="Picture of UTS university" class="pic_r">Welcome to my website! I'm
        Kieu
        and a software developer. I have been graduated from <span style="font-weight:bold">Charles Darwin
            University (CDU)</span>. Through the oppotunity of learning and working at CDU, I seem to gain
        more experiences to academically develop the personal and future vocational skills.<br>
        <div style="justify-content: center; display: flex;"> <a
                href="https://drive.google.com/file/d/15SxdaiRwbT_cpDGzScbgeJIYQLygqQoI/view?usp=sharing"
                style="font-size:20px;  padding: 0px">My Resume Here
                <i class="fas fa-download" id="icon"></i></a>
        </div>
    </div>

    <div class="color">
        <h3 class="sec_header">Summary</h3>
        "An enthusiastic, hardworking, well-organized and detail-oriented developer with 2+ year experience in
        software industry. Continuously absorb any knowledge and technologies to gain more
        experience and grow as a professional. Successfully communicating and working in team
        settings and succeed in handling all allocated tasks and projects."
    </div>

    <div class="uncolor">
        <h3 class="sec_header">Relevant Skills</h3>
        <div class="w3-container">
            <div class="bg-dark">
                <div class="w3-container bg-info p-2 text-white" style="width:95%">
                    95% HTML/CSS</div>
            </div><br>

            <div class="bg-dark">
                <div class="w3-container bg-primary p-2 text-white" style="width:90%">
                    90% JAVASCRIPT</div>
            </div><br>

            <div class="bg-dark">
                <div class="w3-container bg-danger p-2 text-white" style="width:78%">
                    78% TYPESCRIPT</div>
            </div><br>

            <div class="bg-dark">
                <div class="w3-container bg-warning p-2 text-white" style="width:72%">
                    72% C#</div>
            </div><br>

            <div class="bg-dark">
                <div class="w3-container bg-secondary p-2 text-white" style="width:82%">
                    82% PYTHON</div>
            </div><br>

            <div class="bg-dark">
                <div class="w3-container bg-success p-2 text-white" style="width:78%">
                    78% JAVA</div>
            </div><br>

            <div class="bg-dark">
                <div class="w3-container bg-primary p-2 text-white" style="width:90%">
                    87% PHP</div>
            </div><br>

            <div class="bg-dark">
                <div class="w3-container bg-danger p-2 text-white" style="width:68%">
                    68% DART</div>
            </div><br>

        </div>

        
        <div class="skillTab" style="width:100%">
            <b>JAVASCRIPT FRAMEWORK</b><br>
            Angular (Angular Material, Kendo UI), <br>
            Vue JS (Vue-Axios, VueX), <br>
            Node JS (RESTful API, SocketIO), <br>
            Ionic (UI components, Gestures), <br>
            (Asynchronous Programming, Fetch
            & Promise, Observable Pattern)<br><br>
           
            Dart/Flutter<br><br>
            Bootstrap, Sass/LESS<br><br>
            ASP.NET Core (MVC, ASP.NET API, EF Core, ASP.NET Identity)<br><br>
            Object-oriented programming (OOP)
            
        </div>
        <div class="skillTab" style="width:100%">
            <b>CLOUD SERVICES</b><br>
            Digital Ocean (deploy web/app to Linux server using Docker
            compose & SFTP).<br>
            Google Cloud Service (Places API, Map API, Geocoding API,
            Directions API)<br>
            Google Firebase (real-time database, hosting)<br>
        </div>
        <div class="skillTab" style="width:100%">
            <b>DATABASE</b><br>
            SQLite/NoSQL/MongoDB/ MySQL (Views, store procedure)</div>
        <div class="skillTab" style="width:100%">
            <b>VERSION CONTROL</b><br>
            Git, Bitbucket, Source Tree
        </div>
        <div class="skillTab" style="width:100%">
            <b>DEVELOPMENT METHODS</b><br>
            Scrum/Agile methodologies
        </div>
        <div class="skillTab" style="width:100%">
            <b>TESTING</b><br>
            Basic Junit, Integration, Performance, Security Testing
        </div>     
    </div>

    <div class="color">
        <h3 class="sec_header">Soft Skills</h3>
        <div class="ss_wrap">

            <ul class="ss_collumn">
                <li>Abilities to design & develop technical
                    plans</li>
                <li>Analytical skills to evaluate a software &
                    make improvements.</li>
                <li>Extensive problem solving & critical thinking
                    abilities</li>
                <li>Able to handle any changes in the development environment</li>

            </ul>


            <ul class="ss_collumn">
                <li>Willing to explore new things; be honest, respectful and adaptable</li>
                <li>Effective & professional communication in
                    orally and written forms</li>
                <li>Active collaboration, cooperation, communication
                    with teams</li>
                <li>Understanding organizational compliance</li>
            </ul>

        </div>
    </div>

    <div class="color">
        <h3 class="sec_header">Achievements</h3>
        <ul class="ss_collumn" style="width: 100%;">
            <li class="skillTab">Runner-up award of Capable Coding in IT Code Fair, 2021</li>
            <li class="skillTab">Outstanding Academic Achievement, 2021</li>
        </ul>
    </div>

    <div class="uncolor">
        <h3 class="sec_header">Education</h3>
        <ul class="ss_collumn" style="width: 100%;">
            <li class="skillTab">Master of Information Technology (Software Engineering) <br>
                (2019 – 2022) Charles Darwin University,
                Australia<br>

            </li>
            <li class="skillTab"> Bachelor of Computer Science <br>
                (2016 – 2019) Swinburne University, Australia</li>
        </ul>
    </div>

    <div class="uncolor">
        <h3 class="sec_header">Experience</h3>

        <div class="table-responsive">
            <table class="table table-sm table-bordered border-danger mb-4 mt-4">
                <tr>
                    <th>(2022) LANGUAGE SHARING INTERFACE</th>
                    <td>A transcription tool supports linguists in collecting of Indigenous language materials</td>
                </tr>
                <tr>
                    <td>Top End Language Lab, Northern Institute, CDU, <br>
                        Casuarina NT 0810, Australia</td>
                    <td><span style="font-weight:bold;">Responsibilities:</span>
                        <ul>
                            <li>Research and design the system for users being inexperience in computers and low
                                literacy.</li>
                            <li>Implement fontend,backend and database of the app with VueJs, Ionic, NodeJs.</li>
                            <li>Conduct and report of unit, integration, performance testing.</li>
                            <li>Make improvements of the app after usability and client testing.</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td><span style="font-weight:bold;">Achievement:</span> now is used by Top End Language Lab in
                        field work, for supporting the transcription tasks between Aboriginal and non-Aboriginal
                        people.</td>
                </tr>

            </table>
        </div>

        <table class="table table-sm table-bordered border-danger mb-4 mt-4">
            <tr>
                <th>(2022) DARWIN PARKING FLUTTER APP</th>
                <td>An mobile app giving information about avalaible/occupied parking bays in Darwin regions.
                </td>
            </tr>
            <tr>
                <td>Charles Darwin University, <br>
                    Casuarina NT 0810, Australia</td>
                <td><span style="font-weight:bold;">Responsibilities:</span>
                    <ul>
                        <li>Provide the good solution for clients’ problems as well as their needs for
                            application.</li>
                        <li>Developing main functionalities of the app based on client requirements.</li>
                        <li>Testing and improve the apps to ensure the achievements of customer satisfactions.
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td></td>
                <td><span style="font-weight:bold;">Achievement:</span>
                    <ul>
                        <li>Successful designing the desirable projects’ architectures.</li>
                        <li>developing the prototypes and
                            demonstrations following by clients’ requests</li>
                        <li>Learning several different technologies, frameworks and programing languages to
                            implement core functionalities of the app.</li>
                    </ul>
                </td>
            </tr>

        </table>


        <table class="table table-sm table-bordered border-danger mb-4 mt-4">
            <tr>
                <th>(2021) DARWIN EXPLORER ANDROID APP FOR TOURIST</th>
                <td>An mobile app giving information about best places for fishing, travelling or camping,
                    regular and special festivals or events in Darwin
                    and NT region</td>
            </tr>
            <tr>
                <td>Charles Darwin University, <br>
                    Casuarina NT 0810, Australia</td>
                <td><span style="font-weight:bold;">Responsibilities:</span>
                    <ul>
                        <li>System, database and prototype design based on customer requests.</li>
                        <li>Best chance to practice and engage in many necessary soft skills and technical
                            skills such as critical
                            thinking, problem solving, teamwork.</li>
                        <li>Working in the team setting as fontend developer for Android application</li>
                        <li>Conducting Monkey and Blazemeter testing ensure the performace of the app.</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td></td>
                <td><span style="font-weight:bold;">Achievement: </span>received the Runner-up award of IT Code
                    Fair, 2021
                </td>
            </tr>

        </table>


        <table class="table table-sm table-bordered border-danger mb-4 mt-4">
            <tr>
                <th>(2020) KIDS MAGIC LIFE</th>
                <td>Upgrading the website</td>
            </tr>
            <tr>
                <td> <a href="https://magicworldforkids.com.au/">KIDS MAGIC LIFE</a><br>
                    VIC, Australia</td>
                <td><span style="font-weight:bold;">Responsibilities:</span>
                    <ul>
                        <li>Walking through many different project ideas and establishing a wide knowledge of
                            how to handle
                            clients’ requirements and provide suitable solutions. </li>
                        <li>Working and communicating with team as fulstack developer to deliver best solution
                            for customer.</li>
                        <li>Working on several different technologies, frameworks and programing languages</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td></td>
                <td><span style="font-weight:bold;">Achievement: </span>successful finish all core
                    functionalities required by customer, extra developing helpful features to the product and
                    achieved the customer satisfaction.
                </td>
            </tr>

        </table>
    </div>


</div>



<br><br>
<br><br>
<!-- </div> -->

<button (click)="topFunction()" id="myBtn" title="Go to top"><i class="fas fa-arrow-up"></i></button>